body {
    background-color: rgba(190, 190, 190, 1);
}

.wrapper {
    background-color: #dddddd;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    margin: auto;
}

.pages {
    display: inline-block;
    margin: auto;
}

.content-wrapper {
    margin-top: 20px;
}

.content, .pages, .navigation, .results {
    width: 400px;
    text-align: center;
}

input[type='text'],
select {
    width: 200px;
    padding: 5px;
    margin: 10px;
}

.check-social {
    float: left;
}

.check-social + input[type='text'] {
    float: right;
    margin-top: -7px;
}

.link-input {
    visibility: hidden;
}

img {
    width: 150px;
    height: 150px;
    border: 5px solid #dddddd;
}

.active {
    border: 5px solid orangered;
}

.input-error {
    border: 2px solid rgba(207, 0, 0, 0.94);
}

.content {
    display: inline-block;
    position: absolute;
}

.navigation {
    margin-top: 400px;
}

.content:not(.sel) {
    visibility: hidden;
}

.results {
    visibility: hidden;
}

#end {
    visibility: hidden;
}

.error{
    color: rgba(207, 0, 0, 0.94);
}

.curr {
    border: 2px solid orangered;
}

.left {
    float: left;
    text-align: left;
    font-size: 14px;
}

.left p {
    margin: 5px;
}

.res-social {
    margin-top: 15px;
    font-size: 12px;
    font-style: italic;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#next {
    position: absolute;
}

.navigation input,
#start {
    width: 100px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    color: orangered;
}

.pages input {
    padding: 5px;
    width: 29px;
    border-radius: 5px;
    background-color: #ffffff;
    color: orangered;
}

#end {
    background-color: orangered;
    color: #ffffff;
}

#prev {
    color: #aaaaaa;
}