body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

input {
    border: white 1px solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.wrapper {
    padding: 30px;
    border-radius: 10px;
    width: 700px;
    height: 450px;
    margin: auto;
}

.pages {
    display: inline-block;
    margin: auto;
}

.content-wrapper {
    margin-top: 50px;
}

.content, .pages, .navigation {
    width: 700px;
    text-align: center;
}

.results {
    margin: auto;
    width: 500px;
    text-align: center;
}

.social {
    margin: auto;
    width: 400px;
}

.soc-info {
    color: darkblue;
}
#socialpg {
    margin-top: -7px;
}

input[type='text'],
select {
    padding: 10px;
    margin: 8px;
    border-radius: 2px;
}

input[type='text'] {
    width: 250px;
}

select {
    width: 272px;
}

.check-social {
    float: left;
}

label + input[type='text'] {
    float: right;
    margin-top: -7px;
    width: 200px;
}

.splitter {
    height: 8px;
}

.empty {
    height: 80px;
}

.link-input {
    visibility: hidden;
}

img {
    width: 150px;
    height: 150px;
    border: 5px solid #f5f5f5;
}

.active {
    border: 5px solid #ff9800;
}

.input-error {
    border: 2px solid rgba(207, 0, 0, 0.94);
}

.content {
    display: inline-block;
    position: absolute;
}

.navigation {
    margin-top: 275px;
}

.content:not(.sel) {
    visibility: hidden;
}

.results {
    visibility: hidden;
    padding: 24px;
}

#end {
    visibility: hidden;
}

.error{
    color: rgba(207, 0, 0, 0.94);
}

.left {
    float: left;
    text-align: left;
    font-size: 14px;
}

.left p {
    margin: 5px;
}

.res-social {
    margin-top: 30px;
    font-size: 12px;
}

.res-social p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.right {
    float: right;
}

.right img {
    border: 5px solid white;
    width: 200px;
    height: 195px;
}

.clear {
    clear: both;
}

#next {
    position: absolute;
}

.start-btn {
    margin-top: 32px;
    text-align: center;
}

.navigation input,
#start {
    width: 100px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #ff9800;
}

.page {
    padding: 8px 13px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #bbbbbb;
}

.activated {
    color: #ff9800;
}

.curr {
    color: black;
}

#end, #start {
    background-color: #ff9800;
    color: #ffffff;
}

#prev {
    color: #aaaaaa;
}

#next, #prev, #end {
    margin: 0 8px;
}

.page-title {
    position: absolute;
    margin-top: 16px;
    font-size: 15px;
    visibility: hidden;
}

.curr-title {
    visibility: visible;
}

.page-container {
    width: 272px;
    text-align: left;
    margin: auto;
}

#pic {
    text-align: left;
    padding-left: 27px;
}

#pg1, #pg2 {
    margin-top: 20px;
}

#pg3 {
    margin-top: 15px;
}

.err-first {
    display: inline-block;
    position: absolute;
    width: 400px;
    text-align: left;
}

.social {
    text-align: left;
}

input[type="checkbox"] {
    display:none;
}

label {
    cursor: pointer;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    background: url(../img/social.png) no-repeat;
    margin-right: 4px;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/social-check.png) no-repeat;
}

::-webkit-input-placeholder {color: #bbbbbb;} /* Opera, Chrome */
::-moz-placeholder          {color: #bbbbbb;} /* Firefox 19+ */
:-moz-placeholder           {color: #bbbbbb;} /* Firefox 18- */
:-ms-input-placeholder      {color: #bbbbbb;} /* IE */

@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
    body {
        width: 700px;
    }

    .wrapper {
        width: 700px;
    }

    .content, .pages, .navigation, .results {
        width: 700px;
    }

    .navigation {
        margin-top: 700px;
    }

    .empty {
        height: 50px;
    }

    #pic {
        text-align: center;
        padding-left: 0;
    }

    #pg1, #pg2, #pg3 {
        margin-top: 0;
    }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
    body {
        width: 500px;
    }

    .wrapper {
        width: 500px;
    }

    .content, .pages, .navigation, .results {
        width: 500px;
    }

    .navigation {
        margin-top: 500px;
    }

    .empty {
        height: 40px;
    }

    #pic {
        text-align: center;
        padding-left: 0;
    }

    #pg1, #pg2, #pg3 {
        margin-top: 0;
    }
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {
    body {
        width: 400px;
    }

    .wrapper {
        width: 400px;
    }

    .content, .pages, .navigation, .results {
        width: 400px;
    }

    .navigation {
        margin-top: 400px;
    }

    .empty {
        height: 40px;
    }

    #pic {
        text-align: center;
        padding-left: 0;
    }

    #pg1, #pg2, #pg3 {
        margin-top: 0;
    }
}
